# 1. 파이썬 라이브러리 사용
* pip instla numpy
* import numpy as np
* np.메소드()
* np.속성

In [1]:
import numpy as np
np.random.seed(12345)
np.set_printoptions(precision=4, suppress=True)

In [35]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]# 리스트 표기법
data

[0.36414395748923917,
 0.7783192449858966,
 0.5268164062343953,
 1.0818480253469962,
 -0.023614443912217377,
 -0.7789445724634352,
 -0.5783821793869168]

# 2. 변수 참조

In [3]:
a = [1, 2, 3] # 참조

In [36]:
b = a # a와b가 동인한 객체 라는 뜻
b

In [5]:
a.append(4)
b

# 3. 사용자 정의 함수¶

In [6]:
def append_element(some_list, element):
    some_list.append(element)

In [7]:
data = [1, 2, 3]
append_element(data, 4)
dataㄴ

# 내장형 함수 : type()

In [8]:
a = 5
type(a)
a = "foo"
type(a)

# 5. 형변환 
* int()
* float()
* bool()

In [9]:
"5" + "5"

In [10]:
#숫자 간의 자동 형변환 가능
a = 4.5
b = 2
# String formatting, to be visited later
print(f"a is {type(a)}, b is {type(b)}")
a / b

# 6. 내장 함수 isinstance()

In [37]:
?isinstance

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [12]:
a = 5
b = 4.5
isinstance(a, (int, float))
isinstance(b, (int, float))

In [11]:
a = 5
isinstance(a, int)

In [13]:
a = "foo"

In [14]:
getattr(a, "split")

# 7. 내장함수 : iter()
* str
* list
*

In [15]:
def isiterable(obj):
    try:
        iter(obj) # iter 호출 
        return True
    except TypeError: # not iterable
        return False

In [2]:
isiterable("a string")
isiterable([1, 2, 3])
isiterable(5)

NameError: name 'isiterable' is not defined

In [1]:
5 - 7
12 + 21.5
5 <= 2

False

# 8. key word : is, is not
* is : 두개의 객체가 동일한지의 여부 확인
* is not : 두개의 객체가 상이한지 확인

In [10]:
a = [1, 2, 3] # list
a
b = a
b
c = list(a)
c
a is b
a is not c

True

In [11]:
a == c #객체의 내용을 비교할때 사용한다

True

# 9. None 객체
* 파이썬 결과 측정 값(결측치) null(비어 있는 값)

In [13]:
a = None
print(a)
a is None

None

True

# 10. list 자료형
* interable 객체
* vr = []
* vr = list()
* mutale 객체
  * 수정, 삭제, 추가
  * 조회 : 인덱싱
    * 변수명[정수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* 메서드
  * 변수명.count()특정한 정수가 몇번 출현하는지
* 연산자 : +, *

In [14]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = (3, 4)
a_list

['foo', 2, (3, 4)]

# 10. tuple 자료형
* interable 객체
* vr = ()
* vr = tuple()
* immutable 객체 (수정 불가)
  * 조회 : 인덱싱
    * 변수명[정수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* tup.count()
* 연산자 : + ,*

In [22]:
a_tuple = (3, 5, (4, 5))
a_tuple[1] = "four"

In [23]:
ival = 17239871
ival ** 6

In [24]:
fval = 7.243
fval2 = 6.78e-5

In [25]:
3 / 2

In [26]:
3 // 2

# 12. str 자료형
* interable 객체
* vr = "   "
* vr = str()
* inmutable 객체
  * 조회 : 인덱싱
    * 변수명[정수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* 메서드
  * str.count()
  * replace()
* 연산자 : + ,*

In [17]:
c = """
This is a longer string that
spans multiple lines
"""

In [15]:
c.count("\n")# 몇번 출현하는지 ()안의 값이

0

In [20]:
a = "this is a string" # 조회는 가능하지만 수정은 불가능
a[10] = "s"

TypeError: 'str' object does not support item assignment

In [19]:
b = a.replace("string", "longer string")#수정하고 싶을 때 replace 사용
                                        #strig
b

'this is a longer string'

In [31]:
a

In [21]:
a = 5.6
s = str(a)
print(s)

5.6

In [22]:
s = "python"
list(s)
s[:3]#start 를 생략시 처음부터 시작 s[0:3:1]

'pyt'

In [23]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

### <문자열 포멧 방법>

In [24]:
template = "{0:.2f} {1:s} are worth US${2:d}" # methodi
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [37]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(88.46, "Argentine Pesos", 1)

In [27]:
amount = 10
rate = 88.46
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
result

'10 Pesos is worth US$0.11304544426859599'

# 13 문자열 인코딩 & 디코딩
* str.encording()
* str.decording

In [28]:
val = "español"
val

'español'

In [30]:
val_utf8 = val.encode("utf-8")
val_utf8 #b'espa\xc3\xb1ol' (b'은 바이트 코드라는 뜻)
type(val_utf8)

bytes

In [31]:
val_utf8.decode("utf-8") # 바이트로 만들건 다시 글자로

'español'

In [44]:
val.encode("latin1")
val.encode("utf-16")
val.encode("utf-16le")

# 14. Bool

In [45]:
True and True
False or True

In [32]:
int(False) #0으로 변환
int(True) #1로 변환

1

In [47]:
a = True
b = False
not a
not b

In [33]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)

False

In [34]:
a = None
a is None
b = 5
b is not None

True

# 15. 시계열 데이터 처리
* datetime
* datetime.timedelta

In [ ]:
?datetime

In [39]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21) 
dt.day
dt.minute

30

In [40]:
dt.date()
dt.time()

datetime.time(20, 30, 21)

In [41]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [42]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [43]:
dt_hour = dt.replace(minute=0, second=0)
dt_hour

datetime.datetime(2011, 10, 29, 20, 0)

In [44]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [46]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt # 두 기간 (시간)의 차이
print(delta)
type(delta)

17 days, 1:59:39

datetime.timedelta

In [57]:
dt
dt + delta

In [58]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

In [59]:
4 > 3 > 2 > 1

In [60]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

# 16. generator : 
* range()
* enmurate()
* zip()
* map()

In [50]:
range(10) #generate 객체
list(range(10)) # 데이터 접근 1
for i in range(10): # 데이터 접근 2
    print(i)

0
1
2
3
4
5
6
7
8
9

In [51]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [52]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [64]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)