# 1. 파이썬 라이브러리 사용
* pip install numpy
* import numpy as np
* np.메소드()
* np.속성

In [20]:
import numpy as np
# np.random.seed(12345)
# np.set_printoptions(precision=4, suppress=True)

In [21]:
import numpy as np
data = [np.random.standard_normal() for i in range(7)]# 리스트 표기법
data

[0.2188016903040737,
 1.07758877662378,
 -0.10411244982983484,
 -0.31685339916120236,
 -0.32633198264240004,
 0.04312204041339722,
 -0.41478749980157625]

# 2. 변수 참조

In [22]:
a = [1, 2, 3] # 참조

In [23]:
b = a # a와b가 동인한 객체 라는 뜻
b

[1, 2, 3]

In [24]:
a.append(4) ## append() 리스트에 원하는 값을 넣을 사용
b.append(10)
b

[1, 2, 3, 4, 10]

# 3. 사용자 정의 함수¶

In [25]:
def append_element(some_list, element):
    some_list.append(element+1)

In [26]:
data = [1, 2, 3]
append_element(data, 4)
data

[1, 2, 3, 5]

# 내장형 함수 : type()

In [27]:
a = 5
type(a) # 해당 변수의 타입을 알수 있는 함수
a = "foo"
type(a) # 문자열  str

str

# 5. 형변환 
* int()
* float()
* bool()

In [28]:
"5" + "5" 
b = '5'
type(b) # 문자로취급

str

In [29]:
#숫자 간의 자동 형변환 가능
a = 4.5
b = 2
c = 12
# String formatting, to be visited later
print("a is {type(a)}, b is {type(b)}") # a is {type(a)}, b is {type(b)}
print(f"a is {type(a)}, b is {type(b)}, {type(c)}") # a is <class 'float'>, b is <class 'int'>
# print(f"{type()}) -> class'타입' 출력
a / b # / 는 나누기

a is {type(a)}, b is {type(b)}
a is <class 'float'>, b is <class 'int'>, <class 'int'>

2.25

# 6. 내장 함수 isinstance()

In [30]:
?isinstance

Signature: isinstance(obj, class_or_tuple, /)
Docstring:
Return whether an object is an instance of a class or of a subclass thereof.

A tuple, as in ``isinstance(x, (A, B, ...))``, may be given as the target to
check against. This is equivalent to ``isinstance(x, A) or isinstance(x, B)
or ...`` etc.
Type:      builtin_function_or_method

In [31]:
a = 5
b = 4.5
# isinstance의 형태
# isinstance(object, classinfo)
#object : 검사 대상 객체를 의미하는데 검사하려는 값이라고 보면 된다.
#classinfo : 클래스(class)나 자료형(type)을 의미한다. 검사 대상 객체가 어떤 
#반환 값 : isinstance() 함수는 True나 False 값을 반환한다.
isinstance(a, (int, float)) ## int형 이거나 float형 
isinstance(b, (int, float))

True

In [32]:
a = 5
isinstance(a, int)

True

In [33]:
class split:
    a = "foo"
e = split()

In [34]:
p = getattr(split(), 'a')
print(getattr(split(), 'a'))
setattr(e, 'b', 'f**k')
print(getattr(e, 'b'))

foo
f**k

# 7. 내장함수 : iter()
* str
* list
* list 또는 문자열,문자 이 반복이 가능한지 보는것

In [35]:
def isitera(obj):
    try:
        iter(obj) # iter 호출 
        return True
    except TypeError: # not iterable
        return False

In [36]:
isitera("a string") 
isitera('문자')
# isitera([1, 2, 3])
# isitera(5)

True

In [37]:
5 - 7
12 + 21.5
5 <= 2 # 조건 연산자
5 == 5
5!=4

True

# 8. key word : is, is not
* is : 두개의 객체가 동일한지의 여부 확인
* is not : 두개의 객체가 상이한지 확인

In [38]:
a = [1, 2, 3] # list
a
b = a # 둘이 서로 같은 객체가 된
b
c = list(a) # a의 리스트 내용만 가져옴 서로 다른 객체임
c
a is b
a is not c
# c는 a의 리스트를 가지고 있으나 서로 다른 객체임
print(f"a : {type(a)} ,b = {type(b)} c = {type(c)}")
a is not c
a is c # 타입은 같으나 서로 다를 객체  취급

a : <class 'list'> ,b = <class 'list'> c = <class 'list'>

False

In [39]:
a == c 
#객체의 내용을 비교할때 사용한다
# a = c 와 a == c는 서로 다른 뜻임

True

# 9. None 객체
* 파이썬 결과 측정 값(결측치) null(비어 있는 값)

In [40]:
a = None
print(a)
a is None

None

True

# 10. list 자료형
* interable 객체
* vr = []
* vr = list()
* mutale 객체
  * 수정, 삭제, 추가
  * 조회 : 인덱싱
    * 변수명[정수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* 메서드
  * 변수명.count()특정한 정수가 몇번 출현하는지
* 연산자 : +, *

In [41]:
a_list = ["foo", 2, [4, 5]]
a_list[2] = [3, 4]
type(a_list[2])

list

# 10. tuple 자료형
* interable 객체
* vr = ()
* vr = tuple()
* immutable 객체 (수정 불가)
  * 조회 : 인덱싱
    * 변수명[정수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* tup.count()
* 연산자 : + ,*

In [42]:
a_tuple = (3, 5, (4, 5), 5)
# a_tuple[0] = "four"
a_tuple.count((4,5)) # 따로 따로가 아닌 한개의 자료 형으로 봄
a_tuple.count((5))

2

In [43]:
ival = 2
ival ** 6

64

In [44]:
fval = 7.243
fval2 = 6.78e-5

In [45]:
3 / 2

1.5

In [46]:
3 // 2
5 // 2 # 소수 점 없이 출력

2

# 12. str 자료형
* interable 객체
* vr = "   "
* vr = str()
* inmutable 객체
  * 조회 : 인덱싱
    * 변수명[정수]
  * 추출 : 슬라이싱
    * 변수명[start:end:step]
* 메서드
  * str.count()
  * replace()
* 연산자 : + ,*

In [47]:
c = """
This is a longer string that
spans multiple lines
"""

In [48]:
c.count("T")# 몇번 출현하는지 ()안의 값이

1

In [49]:
a = "this is a string" # 조회는 가능하지만 수정은 불가능
a[10]

's'

In [50]:
b = a.replace("string", "longer string")#수정하고 싶을 때 replace 사용
                                        # 변경하고 싶은 단어를 입력하고 이후 원하는 문장 입력
b

'this is a longer string'

In [51]:
a

'this is a string'

In [52]:
a = 5.6
c = "5.6"
s = str(a)
print(s)
type(a)
type(s)
# type(c)
# print(c)
# 문자형 숫자

5.6

str

In [53]:
s = "python"
list(s)
c = tuple(s)
type(c)
s[:3]#start 를 생략시 처음부터 시작
s[0:5:2] # 가장 뒤  step은 텀을 두는 것을 의미함

'pto'

In [54]:
a = "this is the first half "
b = "and this is the second half"
a + b

'this is the first half and this is the second half'

### <문자열 포멧 방법>

In [55]:
template = "{0:.2f} {1:s} are worth US${2:d}" # methodi
template.format(88.46,"Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [56]:
template = "{0:.2f} {1:s} are worth US${2:d}"
template.format(88.46, "Argentine Pesos", 1)

'88.46 Argentine Pesos are worth US$1'

In [57]:
amount = 10
rate = 2
currency = "Pesos"
result = f"{amount} {currency} is worth US${amount / rate}"
result

'10 Pesos is worth US$5.0'

# 13 문자열 인코딩 & 디코딩
* str.encording()
* str.decording

In [58]:
val = "español"
val

'español'

In [59]:
val_utf8 = val.encode("utf-8")
val_utf8 #b'espa\xc3\xb1ol' (b'은 바이트 코드라는 뜻)
type(val_utf8)
val_utf8

b'espa\xc3\xb1ol'

In [60]:
val_utf8.decode("utf-8") # 바이트로 만들건 다시 글자로

'español'

In [61]:
val.encode("latin1") #b'espa\xf1ol'
val.encode("utf-16") #b'\xff\xfee\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'
val.encode("utf-16le") #b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

b'e\x00s\x00p\x00a\x00\xf1\x00o\x00l\x00'

# 14. Bool

In [62]:
True and True
False or True

True

In [63]:
int(False) #0으로 변환
int(True) #1로 변환

1

In [64]:
a = True
b = False
not a
a is False
b is True
a is not b

True

In [65]:
s = "3.14159"
fval = float(s)
type(fval)
int(fval)
bool(fval)
bool(0)
bool(3)

True

In [66]:
a = None
a is None
b = 5
b is not None

True

# 15. 시계열 데이터 처리
* datetime
* datetime.timedelta

In [67]:
?datetime

Object `datetime` not found.

In [83]:
from datetime import datetime, date, time
dt = datetime(2011, 10, 29, 20, 30, 21) 
# dt.year # 년도
# dt.month # 월
# dt.day # 날
# dt.minute # 분
# dt.second # 초
# dt.hour # 시간

10

In [85]:
dt.date() # 날짜만 뽑기
dt.time() # 시간만 뽑기

datetime.time(20, 30, 21)

In [70]:
dt.strftime("%Y-%m-%d %H:%M")

'2011-10-29 20:30'

In [96]:
datetime.strptime("20091031", "%Y%m%d")

datetime.datetime(2009, 10, 31, 0, 0)

In [99]:
dt_hour = dt.replace(minute=40, second=10)
dt_hour # replace를 한다고 해서 원래 값이 변경되진 않는다

datetime.datetime(2011, 10, 29, 20, 40, 10)

In [102]:
dt

datetime.datetime(2011, 10, 29, 20, 30, 21)

In [112]:
dt2 = datetime(2011, 11, 15, 22, 30)
delta = dt2 - dt # 두 기간 (시간)의 차이
print(delta)
type(delta)

17 days, 1:59:39

datetime.timedelta

In [114]:
dt #2011, 10, 29, 20, 30, 21
dt + delta #2011, 11, 15, 22, 30

datetime.datetime(2011, 11, 15, 22, 30)

In [115]:
a = 5; b = 7
c = 8; d = 4
if a < b or c > d:
    print("Made it")

Made it

In [116]:
4 > 3 > 2 > 1

True

In [119]:
for i in range(4):
    for j in range(4):
        if j > i:
            break
        print((i, j))

(0, 0)
(1, 0)
(1, 1)
(2, 0)
(2, 1)
(2, 2)
(3, 0)
(3, 1)
(3, 2)
(3, 3)

# 16. generator : 
* range()
* enmurate()
* zip()
* map()

In [50]:
range(10) #generate 객체
list(range(10)) # 데이터 접근 1
for i in range(10): # 데이터 접근 2
    print(i)

0
1
2
3
4
5
6
7
8
9

In [51]:
list(range(0, 20, 2))
list(range(5, 0, -1))

[5, 4, 3, 2, 1]

In [52]:
seq = [1, 2, 3, 4]
for i in range(len(seq)):
    print(f"element {i}: {seq[i]}")

element 0: 1
element 1: 2
element 2: 3
element 3: 4

In [64]:
total = 0
for i in range(100_000):
    # % is the modulo operator
    if i % 3 == 0 or i % 5 == 0:
        total += i
print(total)