## pd.merge()
* left_on ='col1', right_on='col3', how = 'outer'
* 둘의 컬럽 값이 겹치는 것이 없을떄 사용하는 매소드

In [185]:
import pandas as pd

data1 = {"col1": ['a','b','c'],
        "col2": [1,2,3]}
data2 = {"col3": ['a','b','f'],
        "col4": [10,20,30]}

In [186]:
df1 = pd.DataFrame(data1)
df2 = pd.DataFrame(data2)

In [187]:
pd.merge(df1,df2, left_on ='col1', right_on='col3', how = 'outer')

  col1  col2 col3  col4
0    a   1.0    a  10.0
1    b   2.0    b  20.0
2    c   3.0  NaN   NaN
3  NaN   NaN    f  30.0

In [188]:
data3 = {
    "col1": [1,2,3],
    "col2": [1,2,3]
}
df3 = pd.DataFrame(data3)
df3.apply(lambda row: row['col1'] + row['col2'], axis="columns")

0    2
1    4
2    6
dtype: int64

In [189]:
data4 = {
    "names": ['철수','도연','민수'],
    "score": [76,45,67]
}
data5={
    "names": ['철수','도연','창수'],
    "score": [23,100,87]
}
df4 = pd.DataFrame(data4)
df5 = pd.DataFrame(data5)
pd.concat([df4,df5], ignore_index=True)
pd.merge(df4,df5, on="names", how="outer")

  names  score_x  score_y
0    도연     45.0    100.0
1    민수     67.0      NaN
2    창수      NaN     87.0
3    철수     76.0     23.0

In [190]:
pd.concat([df4,df5], ignore_index=True)

  names  score
0    철수     76
1    도연     45
2    민수     67
3    철수     23
4    도연    100
5    창수     87

In [191]:
pd.concat([df4,df5], axis=0, join='inner', ignore_index=True)

  names  score
0    철수     76
1    도연     45
2    민수     67
3    철수     23
4    도연    100
5    창수     87

In [192]:
data6 = {
    "colf1" : [1,2,3],
    "colf2" : [4,5,6]
}
df6 = pd.DataFrame(data6)
df6.apply(lambda row: row['colf1'] * row['colf2'], axis="columns")

0     4
1    10
2    18
dtype: int64

In [225]:
df1 = pd.DataFrame({'A': ['A0', 'A1', 'A2'],
                    'B': ['B0', 'B1', 'B2']})
df2 = pd.DataFrame({'A': ['A3', 'A4', 'A5'],
                    'B': ['B3', 'B4', 'B5']})
result = pd.concat([df1,df2] , ignore_index=True)
print(result)

    A   B
0  A0  B0
1  A1  B1
2  A2  B2
3  A3  B3
4  A4  B4
5  A5  B5

In [226]:
left = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                     'A': ['A0', 'A1', 'A2']})
right = pd.DataFrame({'key': ['K0', 'K1', 'K2'],
                      'B': ['B0', 'B1', 'B2']})
result = pd.merge(left,right, on='key', how='inner')
print(result)

  key   A   B
0  K0  A0  B0
1  K1  A1  B1
2  K2  A2  B2

In [227]:
df = pd.DataFrame({
    "학생": ['철수','영희','민수'],
    "성적": [80,75,90]
})
new_student_scores = pd.DataFrame({
    "학생": ['지영'],
    "성적": [85]
})
df.index = ['x','y','z']
new_student_scores.index = ['e']
result1 = pd.concat([df, new_student_scores], ignore_index=True)
print("pandas.cocat() 결과 :\n",result1, "\n")
result2 = pd.merge(df,new_student_scores, on = ["학생", "성적"], how = "outer")
print("pandas.merge() 결과 : \n", result2, "\n")
result2

pandas.cocat() 결과 :
    학생  성적
0  철수  80
1  영희  75
2  민수  90
3  지영  85

pandas.merge() 결과 :
    학생  성적
0  민수  90
1  영희  75
2  지영  85
3  철수  80

   학생  성적
0  민수  90
1  영희  75
2  지영  85
3  철수  80

In [228]:
a = pd.DataFrame({
    "A": [1,2,3],
    "b": [4,5,6],
})
b = pd.DataFrame({
    "C": [7,8,9],
    "D": [10,11,12],
})
a.index = ['x','y','z']
b.index = ['x','y','z']
s = pd.Series(data = [13,14,15], index = ['x','y','z'])
s.index.name = 'E'
s.name = 'E'
b["E"] = s
result4 = pd.concat([a,b], axis =1)
print("pandas.concat() 결과\n", result4) 
result7 = pd.merge(a,b, left_index = True, right_index = True)
print("pandas.merge() 결과 출력:\n", result7)

pandas.concat() 결과
    A  b  C   D   E
x  1  4  7  10  13
y  2  5  8  11  14
z  3  6  9  12  15
pandas.merge() 결과 출력:
    A  b  C   D   E
x  1  4  7  10  13
y  2  5  8  11  14
z  3  6  9  12  15

In [257]:
Test = pd.DataFrame({
    "이름" : ['철수','영희','민수'],
    "국어" : ['90','80','85'],
    "영어" : ['85','95','70'],
    "수학" : ['75','80','90']
})
def plus(x):
   return  int(x["국어"]) + int(x["영어"]) + int(x["수학"])
def mean(y):
    return y["총점"]/2

Test["총점"] = Test.apply(plus, axis = 1)
Test
Test.loc["평균"] = Test.apply(mean, axis="index")
Test

KeyError: '총점'