In [2]:
import numpy as ns
import pandas as pd

In [20]:
data = {
    # 고객 
    'CustomerID': ['C1', 'C2', 'C3', 'C4'],
    # 제품
    'Product': ['A', 'B', 'A', 'B'],
    # 수량 
    'Quantity': [10, 15, 10, 20]
}
df = pd.DataFrame(data)
# print(df)
type(data)

dict

In [21]:
result1 = df.pivot_table(index="Product", values = "Quantity", ,aggfunc="sum")
print(result1)

         Quantity
Product
A              20
B              35

In [27]:
result2 = df.pivot_table(index='CustomerID', columns='Product', values='Quantity', aggfunc='sum', fill_value=0)
result2

Product      A   B
CustomerID
C1          10   0
C2           0  15
C3          10   0
C4           0  20

In [29]:
result3 = df.pivot_table(index="CustomerID", values='Quantity', aggfunc='mean')
result3

            Quantity
CustomerID
C1              10.0
C2              15.0
C3              10.0
C4              20.0

In [30]:
import pandas as pd

# 주어진 데이터프레임
data = {
    "CustomerID": ["C1", "C2", "C3", "C4"],
    "Product": ["A", "B", "A", "B"],
    "Quantity": [10, 15, 10, 20]
}

df = pd.DataFrame(data)

# 피봇 테이블을 사용하여 각 제품별로 판매된 총 수량 계산
total_quantities = pd.pivot_table(data=df, values="Quantity", index="Product", aggfunc="sum").reset_index()

print(total_quantities)

  Product  Quantity
0       A        20
1       B        35